body{}
.logoTopLeft{}
.imageOverlayText{}
.title{
text-align:center;}
.body{
width:900px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
margin-bottom:10px;
}
.cred{}
#description{
width:auto;
height:auto;}
#about{}
#contact{}